<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">
    
    
    <!-- <servlet>과 <servlet-mapping>은 무조건 한 쌍이다. -->
    <servlet>
    	<servlet-name>FrontController</servlet-name>
    	<servlet-class>co.bada.prj.comm.FrontController</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>FrontController</servlet-name>
    	<url-pattern>*.do</url-pattern>
    </servlet-mapping>
    		<!-- url주소가 앞에가 무엇이든 마지막에 .do로 끝나면 FrontController 를 실행하라는 뜻. 9행으로 이동되어, 그럼 10행이 시작된다.  -->
    				<!-- index.jsp에서 전달한 게 home.do, 즉 .do로 끝났었기 때문에 FrontController를 실행.  -->
    
    
    <welcome-file-list>
    	<welcome-file>
    		index.jsp
    	</welcome-file>
    </welcome-file-list>
</web-app>


